body {
  .mapa {
    text-align: center;
    a {
      img {
        width: 12rem;
        height: 7rem;
        transition: width 0.5s;
      }
      img:hover {
        width: 15rem;
        height: 9rem;
      }
    }
  }
}
