body {
  footer {
    background-color: #b9beea;
    margin-top: 200px;
    height: 40%;

    .footer {
      display: grid;
      grid-gap: 25px;
    }

    .footer1 {
      text-align: center;
      margin-top: 35px;
      img {
        height: 10vh;
        width: 5vw;
      }
    }

    .email {
      text-align: center;

      a:hover {
        color: $destacado;
      }
    }

    .derechos {
      text-align: center;
    }

    .redes {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: auto auto auto;
      gap: 30px;
    }

    .face {
      background-color: #444d9d;
      text-decoration: none;
      color: azure;
      width: 20px;
      height: 20px;
      text-align: center;
    }

    .ig {
      background-color: #444d9d;
      text-decoration: none;
      color: azure;
      width: 20px;
      height: 20px;
      text-align: center;
    }

    .tw {
      background-color: #444d9d;
      text-decoration: none;
      color: azure;
      width: 20px;
      height: 20px;
      text-align: center;
    }
  }
}
